::selection {
  background: transparent;
  color: transparent;
}
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box
}
html,
body {
  a {
    transition: all 0.3s ease;
  }

  .transition {
    opacity: 0;
    transition: all 0.3s ease;
    transform: translate(-15px, -15px);

    .transition-delay-step(10, .05);
  }
  .view .transition {
    opacity: 1;
    transform: translate(0, 0);
  }
}
