
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #fefefe;
  color: @blue;
  font-family: @font-name;
  font-size: @font-size;
  text-align: center;

  .theme("white");

  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    p {
      margin: @space 0 @space/2 0;
    }
    ul a {
      font-size: 0.8em;
      color: @pink;
    }

    i {
      color: @blue;
      border-bottom: 2px solid transparent;
      padding: 0 20px;
      a {
        color: inherit;
        &:hover {
          color: @pink;
        }
      }
    }

    .description {
      background: @pink;
      line-height: 2px;
      margin: 100px 20px;
      padding: 0 20px;
      position: relative;
      top: -1px;

      i {
        background: #fff;
      }
    }
  }

  header {
    display: inline-block;
    width: 350px;
    svg {
      width: 100%;
    }
  }
}
